body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}
.header-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    max-width: 1440px;
    padding: 0 64px;
    box-sizing: border-box;
    gap: 40px;
}
header img {
    height: 80px;
}
.logo-klein {
    display: none;
}
button {
    display: none;
    padding: 10px 60px;
    color: white;
    background-color: #008000;
    font-weight: 500;
    text-align: center;
    max-width: 200px;
    width: 100%;
    border: none;
    font-size: 18px;
}
button:hover {
    cursor: pointer;
    border: solid 2px #403b3b;
}
nav {
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    gap: 25px;
}
a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.a-underline {
    height: 3px;
    width: 100%;
    background-color: none;
}
a:hover {
    cursor: pointer;
    color: #008000;
}
a:hover .a-underline {
    background-color: #008000;
}
.open-menu-box {
    display: none;
    position: absolute;
    right: 0;
    top: 120px;
    transition: all 250ms ease-in-out;
}
.resp-separator {
    display: flex;
    height: 3px;
    background-color: #403b3b;
}
.close-menu-box {
    transform: translateX(100%);
    display: none !important;

}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    box-shadow: 0px 4px 6px -2px rgba(60, 64, 67, 0.25);
}
.headover {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.head-left {
    display: flex;
    align-items: center;
    height: 70px;
}
.head-image {
    width: 50px;
    height: 50px;
    padding-right: 15px;
}
.head-left-text {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: black;
    margin-block-start: 0px;
    margin-block-end: 0px; 
}

.links {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    text-decoration: none;
}

.header-text {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;  
}
.header-text:hover {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: green;
    box-shadow: 0px 4px 0px -1px green;

}
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    box-sizing: border-box;
}
.mainover {
    width: 100%;
}
.ueber {
    padding-top: 30px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 550;
}

.sec1-img {
    width: 100%;
    border-radius: 10px;
}
.info {
    display: flex;
    gap: 30px;
    padding-top: 25px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.info-time {
    display: flex;
    align-items: center;
    height: 25px;
    background-color: rgb(239,239,239);
    border-radius: 5px;
    
}
.info-img {
    width: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.info-text {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;  
    padding-right: 10px;
}


.rezept {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    box-sizing: border-box;
}

.rezeptover {
    width: 100%;
}
.eingabe {
    display: flex;
    align-items: center;
    box-shadow: 0px -2px 0px -1px rgba(60, 64, 67, 0.25);
    flex-wrap: wrap;
}

.input {
    display: flex;
    align-items: center;
    height: 32px;
    border-top-left-radius: 5px;   
    border-bottom-left-radius: 5px;   
    margin-left: 15px;
    width: 150px;
    border-style: solid;
    border-color: rgb(239,239,239);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: green;  
    color: white;
    width: 150px;
    border: none;
}

.text-gray {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;  
    padding-right: 10px;
    border-radius: 7px;
    background-color: rgb(239,239,239);
    height: 50px;
    padding-left: 30px;
}
.text-white {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;  
    padding-right: 10px;
    height: 25px;
    padding-left: 30px;
}

.zubereitung {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    box-sizing: border-box;
}
.zubereitungover {
    width: 100%;
}
.ueber2 {
    padding-top: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0px;
    margin-block: 0px;
}

.info2 {
    display: flex;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.ueber3 {
    padding-top: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    margin-block: 0px;
}
.profile {
    display: flex;
    gap: 30px;
    padding-top:20px;
    padding-bottom:100px;
    border-radius: 10px;
    display: flex;
}  
.profile2 {
    display: flex;
    border-radius: 60px; 
    width: 70px;
    height: 70px;
}


.profile-text {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 350;
    margin: 0px;
    margin-block: 0px;
}
footer {
    display: flex;
    width: 100%;
    min-height: 200px;
    align-items: center;
    background-color: #403b3b;
    justify-content: center;
    margin-top: auto;
}
.footer-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    box-sizing: border-box;
    gap: 48px;
}
.logo-footer {
    width: 100%;
    max-width: 260px;
    filter: invert(100%);
}
.socials {
    display: flex;
    gap: 24px;
    
}
.socials img {
    border-radius: 16px;
    max-width: 200px;
    width: 100%;
}
.media1000px {
    display: none;
}
.invert {
    display: none;
}


@media(max-width: 1000px) {
    .socials img {
        display: none;
    }
    .media1000px {
        display: block !important;
        max-width: 60px !important;
        width: 100% !important;
    }
    .a1000px {
        display: flex;
        justify-content: center;
    }
    
}
@media(max-width: 900px) {
    nav {
        display: none;
    }
    .open-menu-box {
        display: flex;
        position: absolute;
        right: 0;
        top: 120px;
        flex-direction: column;
        background-color: #efefef;
        padding: 16px;
        gap: 16px;
        border-bottom: 2px solid #403b3b; 
        border-left: 2px solid #403b3b;
        max-width: 260px;
        width: 100%;
    }
    .open-menu-box a {
        font-size: 20px;
        font-weight: 500;
    }
    button {
        display: block;
        padding: 10px 60px;
        color: white;
        background-color: #008000;
        font-weight: 500;
        text-align: center;
        width: 200px;
        border: none;
        font-size: 18px;
    }
}
@media(max-width: 700px) {
    .header-elements {
        padding: 0 32px;
    }
    .footer-elements {
        padding: 0 32px;
    }
    .footer-elements img {
        display: none;
    }
    .invert {
        display: block !important;
        max-width: 60px !important;
        width: 100% !important;
        filter: invert(100%);
    }
    .logo-groß {
        display: none;
    }
    .logo-klein {
        display: block;
        height: 52px;
    }
    .main {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1440px;
        padding: 0 32px;
        box-sizing: border-box;
    }
    .rezept {
        display: flex
    ;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        padding: 0 32px;
        box-sizing: border-box;
    }
    .zubereitung {
        display: flex
    ;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        padding: 0 32px;
        box-sizing: border-box;
    }
}
@media(max-width: 500px) {
    .header-elements {
        padding: 0 16px;
        gap: 16px;
    }
    .footer-elements {
        padding: 0 16px;
        gap: 16px;
    }
    .socials {
        gap: 16px;
    }
    button {
        padding: 10px 10px;
        max-width: 100px;
    }
    .main {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1440px;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .rezept {
        display: flex
    ;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .zubereitung {
        display: flex
    ;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        padding: 0 16px;
        box-sizing: border-box;
    }
}